$plutoLight: 'plutoLight', Helvetica, Verdana, sans-serif;
$plutoBold: 'plutoBold', Helvetica, Verdana, sans-serif;

body {
	font-family: $plutoLight;
}

h1 {
	font: {
		family: $plutoBold;
		size: 40px;
		weight: 400;
	}
	@include media( large-screen ) {
		font: {
			family: $plutoBold;
			size: 60px;
			weight: 400;
		}
	}
	letter-spacing: $five;
	margin-bottom: $twentyfive;
	text: {
		transform: uppercase;
	}
}

h2 {
	font: {
		family: $plutoBold;
		size: 24px;
		weight: 400;
	}
	@include media( $large-screen ) {
		font: {
			size: 36px;
		}
	}
	letter-spacing: 2px;
	text: {
		transform: uppercase;
	}
}

h3 {
	font: {
		family: $plutoBold;
		size: 18px;
		weight: 400;
	}
	margin-bottom: $ten;
}

h4 {
	font: {
		family: $plutoBold;
		size: 18px;
		weight: 400;
	}
	@include media( $large-screen ) {
		font: {
			family: $plutoBold;
			size: 25px;
			weight: 400;
		}
	}
	letter-spacing: 2px;
	margin-bottom: $five;
	text: {
		transform: uppercase;
	}
}

p, li {
	font: {
		family: $plutoLight;
		size: 20px;
	}
	line-height: 30px;
}
