$green: #253b42;
$green-dark: #00131b;
$green-light: #76848b;

$seafoam: #88afb2;
$seafoam-dark: #487f83;
$seafoam-light: #d6e4e1;

$persimmon: #c05f4f;
$persimmon-dark: #974837;
$persimmon-light: #e7cfbd;

$mustard: #e3d494;
$mustard-dark: #c9b868;
$mustard-light: #f0eacf;

$black: #00131B;
$white: #fff;

$five: 5px;
$ten: 10px;
$fifteen: 15px;
$twenty: 20px;
$twentyfive: 25px;
$fifty: 50px;
